.item-template {
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: #fffbe6;    
    border-radius: 15px;
    align-items: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    /* Slide Right In animation */
    animation: slideRightIn 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    animation-fill-mode: both;
}

@keyframes slideRightIn {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.item-template-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.item-template-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-template-content h3 {
    flex: 1;
    margin: 0;
    font-size: 1.1em;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-box {
    flex-shrink: 0;
    width: 60%;
    min-height: 30px;
    margin: 2px;
    padding: 8px 10px;
    border: 1px solid #FFBF00;
    border-radius: 5px;
    font-size: 1.03rem;
    line-height: 1.5;
    box-sizing: border-box;
}

.input-box::placeholder {
    font-size: 1.03rem;
    line-height: normal;
    color: #b9b9b9;
    opacity: 1;
}

.input-box:hover,
.input-box:hover {
    box-shadow: 0 2px 8px rgba(255, 215, 79, 0.15);
    border: 3px solid #EF9B0F;
    margin: 0px;
    scale: 1.02;
}

.input-box:focus,
.input-box:focus {
    box-shadow: 0 2px 8px rgba(255, 215, 79, 0.25);
    border: 3px solid #EF9B0F;
    margin: 0px;
    outline: none;
}

.textarea-note,
.textarea-result {
	width: 100%;
	min-height: 150px 200px;
	padding: 10px 12px;
	border-radius: 8px;
	border: 1.5px solid #d1c4e9;
	background: #faf7ff;
	color: #333;
	resize: vertical;
    font-size: 1.03rem;
	line-height: 1.6;
    box-sizing: border-box;
	margin-top: 4px;
	margin-bottom: 0;
	transition: border 0.2s;
}

@media (max-width: 900px) {
    .item-template {
        width: 100%;
        padding: 18px 8px;
        min-width: 0;
    }

    .item-template-content {
        flex-direction: column;
        width: 100%;
        align-items: stretch;
        gap: 18px;
    }

    .item-template-content>* {
        margin-bottom: 0;
    }

    .item-template-content h3 {
        font-size: 1em;
        text-align: left;
        white-space: normal;
        margin-bottom: 6px;
    }

    /* text-align: left; */
    /* white-space: normal; */
    .item-template-content select,
    .item-template-content input {
        margin-left: 0;
        margin-top: 6px;
        width: 100%;
        max-width: 100%;
        min-width: 0;
    }
}